.list_title{
    font-size: 32px;
    margin-bottom: 8px;
}

.list_wrapper{
    margin-top: 58px;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    list-style: none;
    max-height: 300px;
    overflow: scroll;
}

@media (max-width: 767px) {
    ul{
        margin: 0 10px 40px 10px;
        font-size: 24px;
    }
    .list_title {
        text-align: center;
        font-size: 28px;
    }
   
}